@page "/"

<PageTitle>Tuis</PageTitle>

<div class="container-fluid bg-dark pt-3 pt-sm-4 g-0" style="text-align:center">

    <!--Do the max-height scaling in CSS, use media queries... This can be scoped to this file only-->
    <img class="home-page-banner-image" src="/img/LekkeLeesLogo.svg" />

    <div class="container-fluid bg-dark mt-4 w-50" style="text-align:center">

        <div class="bg-warning mt-3">
            <p style="">This container will grow to fill anything inside it</p>
            <p style="">This container will grow to fill anything inside it</p>
            <p style="">This container will grow to fill anything inside it</p>
        </div>

    </div>

</div>

