.navbar-brand-img:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.navbar-color {
    background-color: rgba(134, 27, 45, 1);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand-img {
    max-width: 100%;
    font-size: 1.1rem;
    object-fit: contain;
    transition-duration: 750ms;
    transition-property: transform;
}   

.oi {
    width: 2rem;
    font-size: 1.6rem;
    vertical-align: text-top;
    top: -2px;
    margin-inline-end: 0.8rem;
}

.nav-item {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
}

.nav-item ::deep span {
    font-size: 25px;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

    /*.nav-item:last-of-type {
        padding-right: 10rem;
    }*/

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 10px;
    height: contain;
    display: flex;
    align-items: center;
    padding-inline-start: 0.8rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-link-user {
    color: rgba(255,255,255,.55) !important;
}


.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.navbar-dropdown {
    border-radius: 15px;
    padding : 10px 0px 10px 0px;
}

/* Smaller Displays */
@media (max-width: 410px) {
    .navbar-brand-wrapper {
        width:75%;
    }

    .navbar-brand-img:hover {
    }

    .navbar-toggler {
        max-height:80%;
        text-align:center;
    }

    .navbar-toggler-icon {
        font-size: 10px;
    }

    .navbar-brand-img {
        opacity: 0.2;
    }
}